<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Saffron Sizzlers</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <!-- Favicons -->
  <link href='{{ url_for("static", filename="assets/img/favicon.png")}}' rel="icon">
  <link href= '{{ url_for("static", filename="assets/img/apple-touch-icon.png")}}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{{ url_for("static", filename="assets/vendor/bootstrap/css/bootstrap.min.css")}}' rel="stylesheet">
  <link href='{{ url_for("static", filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}}' rel="stylesheet">
  <link href='{{ url_for("static", filename="assets/vendor/aos/aos.css")}}' rel="stylesheet">
  <link href='{{ url_for("static", filename="assets/vendor/glightbox/css/glightbox.min.css")}}' rel="stylesheet">
  <link href='{{ url_for("static", filename="assets/vendor/swiper/swiper-bundle.min.css")}}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{{ url_for("static", filename="assets/css/main.css")}}' rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Saffron Sizzlers<span></span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="#book-a-table">Reserve a Table</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Celebrate The Artistry<br>Of Indian Cuisine</h2>
          <p data-aos="fade-up" data-aos-delay="100">Embark on a culinary journey to India's vibrant flavors at our restaurant, where every dish tells a story of aromatic spices and rich traditions.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Reserve a Table</a>
            <a href="https://www.youtube.com/watch?v=kor6mPFmGBU" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src='{{ url_for("static", filename="assets/img/hero-img.png")}}' class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">                                 
          <div class="col-lg-7 position-relative about-img" style="background-image: url('/static/assets/img/about.jpg') ;" data-aos="fade-up" data-aos-delay="150">
            <div class="call-us position-absolute">
              <h4>Reserve a Table</h4>
              <p>+91 2345 3456 25</p>
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                At Saffron Sizzlers, we believe in the power of food to evoke emotions, create connections, and transport you to the enchanting land of India. Our passion for authentic Indian cuisine drives us to meticulously curate a menu that showcases the diverse culinary heritage of this incredible country.
              <ul>
                <li><i class="bi bi-check2-all"></i> We are passionate about sharing the rich culinary heritage of India with our guests, offering a glimpse into the diverse flavors and regional specialties.</li>
                <li><i class="bi bi-check2-all"></i> From sizzling tandoori grills to aromatic curries and tantalizing street food, our menu offers a wide range of options to satisfy every palate.</li>
                <li><i class="bi bi-check2-all"></i> Our warm and welcoming ambiance provides the perfect backdrop for intimate dinners, family gatherings, or special celebrations.</li>
              </ul>
              <p>
                We take great pride in sourcing the finest ingredients, handpicked to ensure freshness, quality, and authenticity. We believe that the secret to creating exceptional dishes lies in the quality of our ingredients, and that commitment is reflected in every plate we serve.
              </p>
              
              <div class="position-relative mt-4">
                <img src='{{ url_for("static", filename="assets/img/the-best-top-10-indian-dishes.jpg")}}' class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=2-5du2oVM5g" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Saffron Sizzers?</h3>
              <p>
                At Saffron Sizzlers, we believe that food is more than nourishment—it's a celebration of culture, a means of storytelling, and a bridge that connects people from all walks of life. Join us as we embark on a sensory exploration of India's culinary treasures and create cherished memories that will linger on your taste buds and in your heart.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Fusion of traditions</h4>
                  <p>Embark on a tantalizing journey of flavors and aromas at our Indian restaurant, where culinary traditions blend seamlessly with contemporary innovation.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Flavorful culinary voyage</h4>
                  <p>Savor the essence of India with every bite, as our restaurant takes you on a culinary expedition through vibrant spices, rich curries, and authentic delicacies.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Authentic culinary experience</h4>
                  <p>Indulge in a symphony of taste and culture at our Indian restaurant, where age-old recipes come alive, celebrating the heritage and diversity of India's culinary tapestry.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="zoom-out">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Customers</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="1" class="purecounter"></span>
              <p>Cuisines</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
              <p>Franchises</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Chefs</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Delicious Menu</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Starters</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Breakfast</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Lunch</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Dinner</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Starters</h3>
            </div>

            <div class="row gy-5">
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/menu-item-1.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/menu-item-1.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Vegetable Samosa</h4>
                <p class="price">
                  Rs 300
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/menu-item-2.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/menu-item-2.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Pani Puri</h4>
                <p class="price">
                  Rs 100
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/menu-item-3.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/menu-item-3.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Panner Tikka</h4>
                <p class="price">
                  Rs 400
                </p>
              </div><!-- Menu Item -->
             
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/menu-item-4.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/menu-item-4.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Chicken Tikka</h4>
                <p class="price">
                Rs 350
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/menu-item-5.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/menu-item-5.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Tandoori Prawn</h4>
                <p class="price">
                  Rs 700
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/menu-item-6.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/menu-item-6.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Chicken Pakora</h4>
                <p class="price">
                  Rs 400
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Breakfast</h3>
            </div>

            <div class="row gy-5">
              
              <div class="col-lg-4 menu-item">
                <a href= '{{ url_for("static", filename="assets/img/menu/paratha.png")}}' class="glightbox"><img src= '{{ url_for("static", filename="assets/img/menu/paratha.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Onion Paratha</h4>
                <p class="price">
                 Rs 400
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/dosa.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/dosa.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4> Plain Dosa</h4>
                <p class="price">
                  Rs 500
                </p>
              </div><!-- Menu Item -->


              <div class="col-lg-4 menu-item">
                <a href= '{{ url_for("static", filename="assets/img/menu/idli.png")}}' class="glightbox"><img src= '{{ url_for("static", filename="assets/img/menu/idli.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Idli</h4>
                <p class="price">
                  Rs 800
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/bhatura.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/bhatura.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Chole Bhatura</h4>
                <p class="price">
                  Rs 900
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/upma.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/upma.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Upma</h4>
                <p class="price">
                 Rs 750
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/poha.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/poha.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Poha</h4>
                <p class="price">
                  Rs 450
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Lunch</h3>
            </div>

            <div class="row gy-5">
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/thali.jpeg")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/thali.jpeg")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Rajasthani Thali</h4>
                <p class="price">
                  Rs 1200
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/indthali.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/indthali.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Punjabi Thali</h4>
                <p class="price">
                  Rs 1500
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/bengali.png")}}' class="glightbox"><img src= '{{ url_for("static", filename="assets/img/menu/bengali.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Bengali Thali</h4>
                <p class="price">
                  Rs 1250
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/gujarati.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/gujarati.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Gujarati Thali</h4>
                <p class="price">
                  Rs 1400
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/south.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/south.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>South Indian Thali</h4>
                <p class="price">
                  Rs 1600
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/kashmir.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/kashmir.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Kashmiri Thali</h4>
                <p class="price">
                  Rs 1800
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Dinner</h3>
            </div>

            <div class="row gy-5">
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/punjabi.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/punjabi.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Punjabi Cuisine</h4>
                <p class="price">
                  Rs 20,000
                </p>
              </div><!-- Menu Item -->
             
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/rajasthani.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/rajasthani.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Rajasthani Cuisine</h4>
                <p class="price">
                  Rs 1300
                </p>
              </div><!-- Menu Item -->
             
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/Biriyani.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/Biriyani.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Mutton Biriyani</h4>
                <p class="price">
                  Rs 1000
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/chicken.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/chicken.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Butter chicken</h4>
                
                <p class="price">
                  Rs 2000
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/pulao.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/pulao.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Pulao</h4>
                <p class="price">
                  Rs 1600
                </p>
              </div><!-- Menu Item -->
              
              <div class="col-lg-4 menu-item">
                <a href='{{ url_for("static", filename="assets/img/menu/fish.png")}}' class="glightbox"><img src='{{ url_for("static", filename="assets/img/menu/fish.png")}}' class="menu-img img-fluid" alt=""></a>
                <h4>Fish Curry</h4>
                <p class="price">
                  Rs 1200
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>What Are They <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        I recently had the pleasure of dining at Saffron Sizzlers, and I must say it was an absolute delight. From the moment I stepped in, the warm and inviting ambiance made me feel right at home. The attentive staff greeted me with a smile and guided me through the menu, which offered a wonderful selection of authentic Indian dishes.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Swastika Mukherjee</h3>
                      <h4>Actress</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-2 text-center">
                    <img src='{{ url_for("static", filename="assets/img/testimonials/testimonials-1.jpg")}}' class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        What truly impressed me about Saffron Sizlers was not only the exceptional food but also the impeccable service. The staff went above and beyond to ensure that I had a memorable dining experience. Their knowledge, friendliness, and attentiveness added an extra layer of enjoyment to my evening.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Raima Sen</h3>
                      <h4>Actress</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-2 text-center">
                    <img src='{{ url_for("static", filename="assets/img/testimonials/testimonials-2.jpg")}}' class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        The food at Saffron Sizlers is simply exceptional. Every dish I've tried has been a flavor-packed masterpiece. The flavors are authentic, and you can truly taste the care and expertise that goes into the preparation. The spices are perfectly balanced, creating a harmonious dance of flavors on my palate.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Kriti Sanon</h3>
                      <h4>Actress</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-2 text-center">
                    <img src='{{ url_for("static", filename="assets/img/testimonials/testimonials-3.jpg")}}' class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                         Your chefs are true artisans in the kitchen, skillfully blending traditional Indian recipes with their own creative twists. Whether it's the fragrant biryanis, the creamy butter chicken, or the perfectly charred tandoori kebabs, each dish is prepared with meticulous care and attention. The flavors are perfectly balanced, allowing me to savor every mouthful.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Abir Chatterjee</h3>
                      <h4>Actor</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-2 text-center">
                    <img src='{{ url_for("static", filename="assets/img/testimonials/testimonials-4.jpg")}}' class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Events</h2>
          <p>Share <span>Your Moments</span> In Our Restaurant</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">                                                         

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style= "background-image: url('/static/assets/img/events-1.jpg') ;">
              <h3>Custom Parties</h3>
              <div class="price align-self-start">Rs 15000</div>
              <p class="description">
                Book your custom party with us today and let us make your celebration an unforgettable affair.
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url('/static/assets/img/events-2.jpg') ;">
              <h3>Private Parties</h3>
              <div class="price align-self-start">Rs 30000</div>
              <p class="description">
                Book your private party today and let us turn your celebration into an unforgettable affair.
              </p>
            </div><!-- End Event item -->                                                     

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url('/static/assets/img/events-3.jpg') ;">
            ">
              <h3>Birthday Parties</h3>
              <div class="price align-self-start">Rs 20000</div>
              <p class="description">
                Book your birthday party with us today and let us make your celebration an unforgettable event.
              </p>
            </div><!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                
                <img src='{{ url_for("static", filename="assets/img/chefs/chefs-1.jpg")}}' class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Miley Ray</h4>
                <span>Master Chef</span>
                <p>As a chef at Saffron Sizzlers, I am honored to share my thoughts and experiences working in this remarkable establishment. Saffron Sizzlers is more than just a restaurant; it is a culinary haven that embodies passion, creativity, and a commitment to delivering exceptional dining experiences.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
               
                <img src='{{ url_for("static", filename="assets/img/chefs/chefs-2.jpg")}}' class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Sarah Ray</h4>
                <span>Chef</span>
                <p>One of the things that sets saffron sizzlers apart is our unwavering dedication to innovation. We are constantly exploring new culinary trends, international influences, and modern techniques to elevate our menu to new heights. We embrace the opportunity to surprise and delight our guests with unexpected combinations and imaginative presentations that leave a lasting impression.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                
                <img src='{{ url_for("static", filename="assets/img/chefs/chefs-3.jpg")}}' class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Amy Jones</h4>
                <span>Cook</span>
                <p>First and foremost, I am grateful for the opportunity to work alongside a talented team of individuals who share the same dedication to the art of gastronomy. The collaboration and synergy in our kitchen are truly inspiring. We constantly strive to push the boundaries of culinary excellence, experimenting with flavors, techniques, and presentations to create dishes that captivate the senses.</p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Reserve A Table</h2>
          <p>Reserve <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0">                            
          
          <div class="col-lg-4 reservation-img" style="background-image: url('/static/assets/img/reservation.jpg') ;" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="/insert" method="POST" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Reserve a Table</button></div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">                                       
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-1.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-1.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-2.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-2.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-3.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-3.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-4.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-4.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-5.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-5.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-6.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-6.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-7.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-7.jpg")}}' class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href='{{ url_for("static", filename="assets/img/gallery/gallery-8.jpg")}}'><img src='{{ url_for("static", filename="assets/img/gallery/gallery-8.jpg")}}' class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235824.027377227!2d88.06542488671873!3d22.5510199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02771ab9c1dd6f%3A0xc3badd8c0672dca9!2sBarbeque%20Nation!5e0!3m2!1sen!2suk!4v1686997134630!5m2!1sen!2suk" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>28 Downing Street, Mumbai, MB 456780</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>sizzlers@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 2345 3456 25</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sat:</strong> 9AM - 23PM;
                  <strong>Sunday:</strong> Closed
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="/insertmessage" method="POST" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              28 Downing Street <br>
              Mumbai, MB 456780<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +91 2345 3456 25<br>
              <strong>Email:</strong> sizzlers@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 9AM -</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://www.facebook.com/profile.php?id=100008632632363" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/beatuzic/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/souradeep-sengupta-3b72b613a/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
  
  <!-- Vendor JS Files -->
  <script src='{{ url_for("static", filename="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")}}'></script>
  <script src='{{ url_for("static", filename="assets/vendor/aos/aos.js")}}'></script>
  <script src='{{ url_for("static", filename="assets/vendor/glightbox/js/glightbox.min.js")}}'></script>
  <script src='{{ url_for("static", filename="assets/vendor/purecounter/purecounter_vanilla.js")}}'></script>
  <script src= '{{ url_for("static", filename="assets/vendor/swiper/swiper-bundle.min.js")}}'></script>
  <script src='{{ url_for("static", filename="assets/vendor/php-email-form/validate.js")}}'></script>

  <!-- Template Main JS File -->
  <script src='{{ url_for("static", filename="assets/js/main.js")}}'></script>

</body>

</html>